<form class=" w-50 flex-column align-items-center" #myForm="ngForm">
  <div class="col">
    <input type="text" [(ngModel)]="persona.name" required [ngStyle]="{'border':name.valid?'1px solid #0c3b8d':'1px solid red'}" #name="ngModel" name="name"  class="form-control" placeholder="nome" value="persona.name" aria-label="First name">
  </div>
  <div class="col">
    <input type="text" [(ngModel)]="persona.cognome" required  [ngStyle]="{'border':cognome.valid?'1px solid #0c3b8d':'1px solid red'}" #cognome="ngModel" name="cognome" class="form-control" placeholder="cognome" value="persona.cognome" aria-label="Last name">
  </div>
  <div class="col">
    <input type="text" [(ngModel)]="persona.age" required  [ngStyle]="{'border':age.valid?'1px solid #0c3b8d':'1px solid red'}" #age="ngModel" name="age" class="form-control" placeholder="età" value="persona.age" aria-label="Last name">
  </div>
  <div class="col">
    <input type="text" [(ngModel)]="persona.cell" required  [ngStyle]="{'border':cell.valid?'1px solid #0c3b8d':'1px solid red'}" #cell="ngModel" name="cell" class="form-control" placeholder="cell" value="persona.cell" aria-label="Last name">
  </div>
  <div *ngIf="!isModifica" class="mt-2">
        <button [disabled]="!myForm.valid" class="btn btn-primary" (click)="aggiungi(myForm.value)">aggiungi  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg></button>
  </div>
  <div *ngIf="isModifica" class="mt-2">
    <button [disabled]="!myForm.valid" class="btn btn-success ms-2" (click)="modifica(myForm.value)">modifica <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg></button>
  </div>



</form>
